<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <% if (error) { %>
        <div>
            <%= error %>
        </div>
    <% } %>
    <form method="post">
        Username: <input type="text" name="username" autocomplete="off"><br /><br />
        Password: <input type="password" name="password"><br /><br />
        <button type="submit">Login</button>
    </form>
</body>
</html>
