<%- include('header'); %>
<div><b>Create an account to start using the platform.</b></div><br />
<% if (error) { %>
    <div>
        <%= error %>
    </div>
    <br />
<% } %>
<form method="post">
    Full name: <input type="text" name="fio" autocomplete="off" autofocus required><br /><br />
    Phone number: <input type="text" autocomplete="off" name="phone" required><br /><br />
    Username: <input type="text" name="username" autocomplete="off" autofocus required><br /><br />
    Password: <input type="password" name="password" required><br /><br />
    <button type="submit">Login</button>
</form>
<%- include('footer'); %>
